<h1> List of all Tags</h1>		

<ul id="tags">
	<% @tags.each do |tag| %>
		<li>
			<%= link_to tag.name, tag_path(tag), class: 'tag_name' %>
		
				<%= link_to "destroy", tag_path(tag), :method => :delete %>
		</li>
	<% end %>
</ul>	

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>